body{
    padding: 0px;
    margin: 0px;

}




.container{
    display: flex;
    background-color: rgb(204, 211, 211);
    bottom: 20px;
    flex-direction: column;
    flex-wrap: wrap;
    flex-shrink: 1;

}


h1 {
    color: rgb(30, 72, 97);
    font-family: sans-serif;
    text-align: center;
    font-size: 400%;
    
}
.box_1{
    padding: 15px;
    margin: 30px;
    display: flex;
    background-color: aqua;
    justify-content: space-around ;
}


.box_2{
    padding: 15px;
    margin: 30px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(190, 90, 128);
}


.box_3{
    padding: 15px;
    margin: 30px;
    display: flex;
    justify-content: space-around ;
    background-color: rgb(255, 255, 255);
}

img{
    height: 500px;
}


p, a{
    text-align: center;
    font-family: sans-serif;
}
